# Shared
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/bunnylog
STORAGE_CONNECTION_STRING=UseDevelopmentStorage=true
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=bunnylog
PORT=3001
